.guess {
  display: flex;
  margin-bottom: 1rem;
  transition: all 0.2s;

  &.error {
    // TODO: shake animation?
    .letter {
      background: #411;
      border-color: #911;
      color: #e11;
    }
  }

  &.dance {
    .letter {
      animation: 500ms infinite dance;

      @for $i from 1 through 12 {
        &:nth-child(#{$i}) {
          animation-delay: ($i * 175ms);
        }
      }
    }
  }
}

@keyframes dance {
  0% {
    rotate: 0deg;
    translate: 0 0;
    scale: 100%;
  }

  33% {
    rotate: -10deg;
  }

  50% {
    translate: 0 -50px;
    scale: 110%;
  }

  66% {
    rotate: 10deg;
  }

  100% {
    rotate: 0deg;
    translate: 0 0;
    scale: 100%;
  }
}
