.letter {
  align-items: center;
  border: 0.1rem solid #fff;
  display: flex;
  font-size: 3rem;
  font-weight: bold;
  height: 4rem;
  justify-content: center;
  margin: 0.25rem;
  text-align: center;
  width: 4rem;

  &.wrong {
    background: #777;
  }

  &.wrong-place {
    background: #ec2;
  }

  &.right {
    background: #293;
  }
}
