html {
  display: flex;
  justify-content: center;
  min-height: 100%;
  max-height: calc(100vh - (100vh - 100%));
}

body {
  background: #111;
  color: #eee;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: calc(100vh - calc(100vh - 100%));
}

@import 'components/Guess';
@import 'components/Guesses';
@import 'components/Header';
@import 'components/Keyboard';
@import 'components/Letter';
