@use 'sass:meta';
html {
  display: flex;
  justify-content: center;
  min-height: 100%;
  max-height: calc(100vh - (100vh - 100%));
}

body {
  background: #111;
  color: #eee;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: calc(100vh - calc(100vh - 100%));
}

@include meta.load-css('components/Button');
@include meta.load-css('components/Guess');
@include meta.load-css('components/Guesses');
@include meta.load-css('components/Header');
@include meta.load-css('components/Keyboard');
@include meta.load-css('components/Letter');
@include meta.load-css('components/Modal');
@include meta.load-css('components/OptionsModal');
@include meta.load-css('components/Tooltip');
